html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  padding: 5vw;
  margin: auto;
}

button {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid cyan;
  color: cyan;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

#btn1::after {
  content: "";
  height: 100%;
  width: 0;
  background-color: cyan;
  position: absolute;
  left: 0;
  top: 0;
  transition: all linear 0.5s;
  z-index: -1;
}

#btn1:hover, #btn2:hover {
  color: black;
}

#btn1:hover::after {
  width: 100%;
}


#btn2::after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: cyan;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all linear 0.5s;
  z-index: -1;
}

#btn2:hover::after {
  transform: translate(-50%, -50%) scale(2.4);
}